.form-css {
    background: rgba(172, 164, 164, 0.15);
    width: 400px;
    padding: 10px;
    border-radius: 5px;
// width: 30rem;
// height: 20rem;
// box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
// border-radius: 5px;
// background-color: rgba(255, 255, 255, .15);
// backdrop-filter: blur(5px);
}

.mat-lebel-css {
    color: grey;
    size: 200px;

}

.text-css {
    color: rgb(177, 177, 177);
    font-weight: lighter;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
}

.button-css{
    margin: 0 auto;
}